/* 標籤的基本樣式 */
body {
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
}

.material-icons-outlined {
  font-size: 20px;
}

.display-1 {
  letter-spacing: 0.2rem;
  @media (max-width: 768px) {
    font-size: 32px;
    letter-spacing: 0rem;
  }
}
