<div class="container-lg py-8">
  <div class="row">
    <div class="col-12">
      <div class="bg-primary card-rounded px-4 py-6 px-lg-8 py-lg-9">
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/logo-icon-w.svg"
          alt=""
          class="icon-w mb-6"
        />
        <div class="hero-content-line mb-4 mb-lg-6">
          <h2 class="fs-lg-2 fs-3 text-white fw-bold">
            邁向你真正想過的生活，從這裡開始
          </h2>
          <p class="fs-6 fs-lg-18 text-white mb-6">
            第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
          </p>
        </div>
        <div class="hero-contact d-lg-flex">
          <div class="contact me-auto d-lg-flex mb-6">
            <div class="contact-phone me-lg-6 text-white mb-4 mb-lg-0">
              <a
                class="d-flex align-items-center flex-lg-nowrap"
                href="tel:0800-123-123"
              >
                <span class="me-2 material-symbols-outlined"> call </span>
                <p class="fs-lg-5 fs-18">0800-123-123</p>
              </a>
            </div>
            <div class="contact-mail text-white">
              <a
                class="d-flex align-items-center"
                href="mailto:Sample@mail.com"
              >
                <span class="me-2 material-symbols-outlined"> mail </span>
                <p class="fs-lg-5 fs-18">Sample@mail.com</p>
              </a>
            </div>
          </div>
          <button class="btn btn-dark px-lg-5 py-3">
            <a href="contact.html">
              預約免費職涯探索
              <span class="material-icons-outlined align-bottom">
                keyboard_arrow_right
              </span>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
