<nav class="navbar navbar-light bg-natural-95 py-6 py-lg-9 border-top">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer navbar-nav-list" id="navbarNav">
      <ul
        class="navbar-nav mb-lg-0 mx-lg-auto d-flex flex-row flex-wrap justify-content-center mb-2"
      >
        <li class="nav-item">
          <a class="nav-link active px-4" href="/workwayWeek2/sever.html"
            >服務方案</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="/workwayWeek2/about.html">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="/workwayWeek2/contact.html"
            >聯絡我們</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="/workwayWeek2/policy.html"
            >隱私權政策</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="/workwayWeek2/user-role.html"
            >用戶條款</a
          >
        </li>
      </ul>
    </div>
    <p class="text-natural-50 fs-14">
      Copyright © 2025 職旅 workway. All rights reserved.
    </p>
  </div>
</nav>
