.card-content-sm {
  max-width: 320px;
}

.list-company li {
  border-bottom: 1px solid $natural-85;
  padding: 24px 16px;
}

.company-bg {
  height: 979px;
  @media (max-width: 768px) {
    height: 895px;
  }
}
