.icon-w {
  width: 40px;
  height: 36px;
}

.line {
  padding: 0px 8px;
  border-left: 1px solid $natural-85;
}

.card-content {
  max-width: 400px;
  @media (max-width: 768px) {
    max-width: 320px;
  }
}

.hide-scrollbar-x::-webkit-scrollbar {
  display: none;
}

.logo-rwd {
  @media (max-width: 768px) {
    width: 48px;
    height: 40px;
  }
}

.border-line {
  border-bottom: 1px solid $natural-85;
  width: 100%;
}

.sever-card {
  max-width: 306px;
}
