.form-content {
  width: 300px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.tab-btn-bg {
  background-color: $white;
}

.nav-pills .nav-link {
  @media (max-width: 768px) {
    border-radius: 12px;
  }
}

.info-user-img {
  width: 120px;
  height: 120px;
}

// 手機板表格
@media (max-width: 768px) {
  .my-table tr {
    display: flex;
    flex-wrap: wrap; /* 允許換行 */
    position: relative;
    width: 100%;
  }

  .my-table td {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border: none;
    box-sizing: border-box;
  }

  .my-table td:nth-of-type(1),
  .my-table td:nth-of-type(5) {
    flex-basis: 100%; /* 佔滿整行 */
  }

  .my-table td:nth-of-type(2),
  .my-table td:nth-of-type(3) {
    flex: 1 1 auto;
  }

  .my-table {
    td:nth-of-type(2),
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5) {
      font-size: 14px;
      color: $natural-50;
    }
  }

  /* 使用 ::before 偽元素顯示標籤 */
  .my-table td:nth-of-type(2)::before,
  .my-table td:nth-of-type(3)::before {
    content: attr(data-label) "：";
    display: inline-block;
  }

  .my-table td:nth-of-type(4) {
    margin-left: auto;
    position: absolute;
    top: 2px;
    right: 1rem;
  }
}

.border-sm {
  border: 0px;
  @media (min-width: 768px) {
    border: 1px solid $natural-85; /* 平板以上 */
  }
}

.custom-modal-width {
  max-width: 480px !important;
}
