.bg-gray {
  background-color: #f0f3f5;
}

.section-padding {
  padding: 80px 0px;
}

.tab-bg-rouned {
  background-color: #fcfcfd;
  border-radius: 24px;
}

.text-blue {
  color: #4a69e8;
}

.subtitle {
  color: #667f99;
  font-size: 18px;
}

.form-content {
  width: 300px;
}

.fs-14 {
  font-size: 14px;
}

.info-user-img {
  width: 120px;
  height: 120px;
}
